# Pandas

Pandas 는 Panel Datas 의 약자로, 파이썬을 이용한 데이터 분석에서 가장 많이 사용되는 라이브러리이다.

Numpy기반으로 만들어 졌으며 데이터 분석을 위한 효율적인 자료구조를 제공한다.

## Pandas의 자료구조

1. Series :: 1차원 배열형태의 데이타 구조(벡터) :: ndarray
- 이 안에 데이터 타입은 모두 numpy 배열이고, 서로 다른 데이터 타입은 올 수 없고, ndarray는 ..

2. DataFrame :: 2차원 배열형태의 데이타 구조(매트릭스) = 엑셀구조, DB 구조와 동일하다 => 때문에 그렇게 불러와서 사용할 수 있음
- 이 안에는 Series 가 있다. (세로방향으로, 같은 데이터 타입). 다시 말해 Series들의 집합은 DataFrame이라고 할 수 있다.

### Series

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

#### 1. 시리즈 생성, 구조

(구조) 인덱스를 명시하지 않으면, 기본적으로 0~N까지의 정수로 지정된다.

In [ ]:
ser1 = Series(np.random.randint(10, 20, 5), index=list('abcde'))
ser1
print(ser1.index)
print(ser1.values) 
# 값만 나오는데, 순서대로 나오지 않는 이유는, ndarray로 튜플형태이기 때문에 콤마(,)가 없기때문에 그렇다.
print(ser1.dtype)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[16 14 13 16 12]
int64

#### 2. 시리즈 값 조회

슬라이싱으로 값을 조회할 때 2가지 방법(모든 조회의 기본)

1) 라벨 사용 :: 시리즈는 인덱스를 라벨로 사용함 ::
마지막값이 포함

2) 숫자 사용 :: 마지막 값 포함 안함

In [ ]:
ser1

a    16
b    14
c    13
d    16
e    12
dtype: int64

In [ ]:
# 2) 숫자 사용
print(ser1['c'])
print(ser1[1:4])

13
b    14
c    13
d    16
dtype: int64

In [ ]:
# 1) 라벨 사용
print(ser1['b':'d'])

b    14
c    13
d    16
dtype: int64

응용해서 시리즈 값 조회하기

In [ ]:
# 2개씩 건너 뛰어서 슬라이싱
print(ser1['a':'e':2])
print(ser1[::2])

a    16
c    13
e    12
dtype: int64
a    16
c    13
e    12
dtype: int64

In [ ]:
ser1_1 =ser1[::2]
print(ser1_1)

ser1_2=ser1[:2]
print(ser1_2)

a    16
c    13
e    12
dtype: int64
a    16
b    14
dtype: int64

#### 시리즈 값 연산

연산시 인덱스가 없으면, 'NaN' 으로 채워진다.

In [ ]:
# 연산적용이 되지 않는 값들은 누락데이터로 인식한다. (ser1_1에는 라벨이 없기때문에)
serPlus = ser1 + ser1_1
print(serPlus)

a    32.0
b     NaN
c    26.0
d     NaN
e    24.0
dtype: float64

#### 누락데이타 다루기 :: isnull(), notnull()

In [ ]:
# isnull은 null이면 True.
print(serPlus.isnull())
print(serPlus.notnull())

a    False
b     True
c    False
d     True
e    False
dtype: bool
a     True
b    False
c     True
d    False
e     True
dtype: bool

In [ ]:
# isnlll
print(serPlus.isnull().sum())
print(serPlus[serPlus.notnull()])

2
a    32.0
c    26.0
e    24.0
dtype: float64